.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 40px;
  margin: 30px 0;
}

.imgs {
  margin: 0 auto;
  align-items: center;
  max-width: 1200px;
  position: relative;
}

.main {
  width: 1200px;
}

.screenshot { 
  transition: 0.5s;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  position: absolute;
  border: 2px solid black;
}

.screenshot:hover {
  border-color: aqua;
  transition: 0.5s;
}

.middle {
  left: 556px;
  top: 327px;
}

.left {
  left: 377px;
  top: 488px;
}

.butterflies {
  left: 855px;
  top: 172px;
}

.throne {
  left: 393px;
  top: 143px;
}

.tunnel {
  left: 762px;
  top: 397px;
}

.active {
  top: 50px;
  left: 100px;
  width: 1000px;
  height: 655px;
  z-index: 10;
  border-radius: 30px;
}